#set($inputRoot = $input.path('$'))
{
  "RequestItems": {
    "events" : [
    #foreach($e in $inputRoot)
    #set($i = $foreach.index)

      {
        "PutRequest": {
          "Item": {
          #foreach($k in $e.keySet())

            "$k": {
              "M": $input.json("$[$i].$k")
            }
          #end

          }
        }
      }#if($foreach.hasNext),#end
    #end

    ]
  }
}
