.App {
    /*text-align: center;*/
}

.b-list .columns {
    margin: 0;
    padding: 0;
}

.b-list .column {
    padding: .25em .5em;
}

.b-list .columns:not(:last-child) {
    margin-bottom: 0;
}

.b-list .panel-block:nth-child(2n) {
    background-color: #fafafa;
}

.b-list .th.panel-block {
    background-color: #ffffff;
}

.history {
    position: absolute;
    top: 3rem;
    width: 15rem;
    right: 0;
    z-index: 3;
    background-color: white;
}

.history:not(:hover) {
    right: -13rem;
}

.history .ea-content {
    max-height: 5em;
    overflow: auto;
}
